<!DOCTYPE html>
<html lang="en">
 <%- include('../partials/head.ejs') %> 
<body>
    <%- include("../partials/header.ejs") %>

    <main>
        <div>
            <a href="/animals/new"><button>Add New Animal</button></a>
            
        </div>
    </main>
    
</body>
</html>